jupyter~=1.0
kedro~=0.18.5
kedro-datasets[pandas.CSVDataSet,polars.CSVDataSet] @ git+https://github.com/wmoreiraa/kedro-plugins@4448b9f#subdirectory=kedro-datasets
#kedro-datasets[pandas.CSVDataSet,polars.CSVDataSet]>1.0.2  # Adjust version when appropriate
kedro-telemetry~=0.2.0

aiohttp
black[jupyter]
jupyterlab
pyarrow
requests
seaborn
